@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
div{
    border: 5px solid skyblue;
    border-radius: 10px;
    background-color: antiquewhite;
    text-align: center;

}
p{
    font-size: 10px;
}
.noto-sans-thai-uniquifier {
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }